.essenkarte {
    border: 1px solid #73453ee1;
    padding: 20px;
    margin-right: 50px;
    width: 155px;
    border-radius: 5px;

    h5 {
        font-weight: 400;
        font-size: 14px;
    }
}

